/* defult margin/padding set  */
* {
    margin: 0px;
    padding: 0px;
}

/* defult font family */
body {
    font-family: 'Lato', sans-serif;
}

/* top section style  */

.top_section {
    width: 1920px;
    height: 850px;
    background-color: #E554731A;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.heading {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 708px;
    
}

.heading_description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 634px;
    padding: 32px 0;
}

.common_button {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    border: 2px solid #E55473;
}

.top_image{
    padding-top: 50px;
}