/* defult margin/padding set  */
* {
    margin: 0px;
    padding: 0px;
}

/* defult font family */
body {
    font-family: 'Lato', sans-serif;
}

/* top section style  */

.top_section {
    width: 1920px;
    height: 850px;
    background-color: #E554731A;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.heading {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    width: 708px;

}

.heading_description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 634px;
    padding: 32px 0;
}

.common_button {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    border: 2px solid #E55473;
}

.top_image {
    padding-top: 50px;
}

/* end top section style  */

/* start featured flowers section style  */

.featured_flowers {
    display: flex;
    justify-content: center;
    width: 1920px;
    height: 1540px;
    flex-direction: column;
    align-items: center;
}

.featured_title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}

.featured_descrition {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 594px;
    padding: 24px 0px 48px 0px;
}

.pick_flower_container {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.pick_flower_container1 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    text-align: center;
}

.pick_flower_container2 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    text-align: center;
}

.pick_flower_container3 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    text-align: center;
}

.pick_flower {
    padding-top: 110px;

}

.pick_flower3 {
    padding-top: 67px;

}

.pick_flower_link {
    display: flex;
    gap: 307px
}

.pink_flower_name {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    padding-top: 32px;
}

.support_container {
    height: 320px;
    width: 1440px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 128px auto;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}

.support_details {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    padding-top: 24px;
}

/* end featured flower section style  */

/* start hot deal section style  */

.hot_deal_section {
    height: 620px;
    width: 1920px;
    background-color: #E554730D;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hot_deal {
    text-align: center;
}

.hot_deal_offer {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.hot_deal_offer span {
    color: #E55473;
    font-size: 40px;
    font-weight: 800;
}

.hot_deal_details {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 594px;
    padding: 24px 0px;
}

/* end hot deal section style  */

/* social section  */

.instagram {
    width: 1920px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 128px;
}

.instagram_details {
    width: 1920px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 24px;
}

/* social section  */

/* gallery section  */


.gallery {
    width: 1920px;
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-top: 48px;
    padding-bottom: 128px;
}

/* gallery section  */

/* supscribe secton  */

.subscribe_main_div {
    display: flex;
    width: 1920px;
    height: 706px;
}

.subscribe_section {
    height: 450px;
    width: 1440px;
    background-image: url('../images/Rectangle-9.png');
    border-radius: 8px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.get_latest_deals {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.coupon {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 16px 0px 48px 0px;
}

.email_input {
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background-color: #FFF;
    
}



input ::placeholder {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
}

/* supscribe secton  */